.navbar-nav .nav-link {
  font-weight: 500;
  margin: 0 10px;
}

form.d-flex input {
  max-width: 200px;
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
